<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}

  </a>
    <div>{{ partial "social-follow.html" . }}</div>
      <a rel="me" href="https://toot.portes-imaginaire.org/@pablopernot"></a>
    <a rel="me" href="https://mamot.fr/@claudeaubry"></a>
  </div>
</footer>
