<!DOCTYPE HTML>
<!--
	Twenty 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Raid Agile</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Une formation agile différente" />
		<meta name="keywords" content="formation agile différente" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/theme/js/jquery.min.js"></script>
		<script src="/theme/js/jquery.dropotron.min.js"></script>
		<script src="/theme/js/skel.min.js"></script>
		<script src="/theme/js/skel-layers.min.js"></script>
		<script src="/theme/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/theme/css/skel.css" />
			<link rel="stylesheet" href="/theme/css/style.css" />
			<link rel="stylesheet" href="/theme/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="index loading">
	
		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="index.html">RAID AGILE <span>avec Claude Aubry, Pablo Pernot et Laurent Morisseau</span></a></h1>
				<nav id="nav">
					<ul>

<li class="menu">

	<a href=/temoignages.html class="button special">Témoignages</a>

</li>
<li class="submenu">
	<a class="button special">Photos souvenirs</a>
	<ul>
	
	<!--<a href=/>Accueil</a>-->	
	<li><a href=/raid9.html>Raid#9 Juin 2018</a></li>
	<li><a href=/raid8.html>Raid#8 Octobre 2017</a></li>
	<li><a href=/raid7.html>Raid#7 Mai 2017</a></li>
	<li><a href=/raid6.html>Raid#6 Octobre 2016</a></li>
	<li><a href=/raid5.html>Raid#5 Avril 2016</a></li>
	<li><a href=/raid4.html>Raid#4 Janvier 2016</a></li>
	<li><a href=/raid3.html>Raid#3 Juin 2015</a></li> 	
	<li><a href=/raid2.html>Raid#2 Mars 2015</a></li>
	<li><a href=/raid1.html>Raid#1 Novembre 2014</a></li>
	<li><a href=/raiders.html>Les raiders</a></li>
	</ul>

</li>						
<li class="submenu">
	<a class="button special">Préparer le raid</a>
	<ul>
	<li><a href=/raidme.html>Raidme (guide du raider)</a></li>
	<li><a href=/pdfs/Programme-raid-agile.pdf>Le programme</a></li>	
	<li><a href=/faq.html>FAQ</a></li>
	<li><a href=/lettre-aux-rh.html>Lettre aux RH</a></li>
	<li><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile">Contact</a></li>
	</ul>
</li>

<li class="menu">

	<a href=/raid-agile-tribal.html class="button special">Raid Agile Tribal</a>

</li>


					</ul>
				</nav>
			</header>

{% block content %}

{% endblock %}

{% include "footer.html" %}
	
	</body>
</html>
