{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}

		{% if article %}
		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>{{ article.title }}</h2>
					</header>
				</div>
				
			</section>		

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-certificate"></span>
					<h2>RAID AGILE <strong>{{ article.title }}</strong></h2>
					<p><span style=font-style:italic >{{ article.subtitle }}</span></p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>

								<p>
								{{ article.content }}
								</p>
								</section>
							</div>

					</section>

		{% endif %}
{% endblock %}			

