{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}


		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>RAID AGILE EN C&Eacute;VENNES</h2>
					</header>
					<p>


Une formation différente, dans un environnement dépaysant mais sécurisé,<br/> 
dans une ambiance chaleureuse et décontractée.<br/>
Une pédagogie innovante qui vous fournit, <br/>
avec les outils et surtout la culture, <br/>
les clés pour accélérer votre transformation agile.

					<!--	
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Prochain Raid : 5-8 juin 2018<br/>Et pour une deuxième fois Laurent Morisseau en invité spécial</a>
			
							</li>
						</ul>
					</footer>
					-->
				</div>
				
			</section>
		
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-paper-plane"></span>
					
					<p>
					<h2>
						3 jours « off », <br/>
						à vivre l’agilité et revenir équipé <br/>
						pour accompagner ses équipes 


					</h2>					
					</p>

					<p>

					Le Raid Agile, c’est entre 12 et 18 personnes qui se retrouvent dans un gite des Cévennes pour une formation agile originale. Pendant trois jours et trois nuits, ils partagent leurs expériences, jouent ensemble, goûtent à des outils d’intelligence collective, randonnent dans la nature, mangent et boivent des spécialités locales et s’ouvrent l’esprit aux nouvelles pratiques du management, de l’agilité organisationnelle et de la gestion de produit. Ils sont accompagnés par deux facilitateurs chevronnés (Claude Aubry & Pablo Pernot). En France, dans les Cévennes, les raids ont lieu dans un <a href=http://www.grand-gite-gard-cevennes-sud.com/nos-g%C3%AEtes/le-grand-g%C3%AEte-description-d%C3%A9taill%C3%A9e-et-disponibilit%C3%A9/>grand gite près de St Jean Du Gard</a>. <br/>
					
					</p>	

</p>
<p>
<h2>Nous joindre, s'inscrire :</h2>
<a class="fa fa-envelope"><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile"> &Eacutecrivez directement à Claude, Pablo et Laurent</a></a><br/>
</p>




				</header>
					
				<!-- One -->
			<section class="wrapper style2 container special-alt">
				<div class="row half">
					<div class="8u">
					
						<header>
					<p>	
					Des ateliers (<strong>impact mapping, story mapping, innovation games, user stories, plan de release, scrum à plusieurs équipes</strong>, etc…), du team building, des conversations sur <strong>Scrum, Kanban, Lean Startup</strong> et des réflexions sur la <strong>culture agile</strong>.
					</p>
						</header>
					
					</div>
					<div class="4u skel-cell-important">
						<ul class="feature-icons">
						<li><span class="icon fa-tree"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
								
						<!--

							<li><span class="icon fa-share-alt"><span class="label">Feature 1</span></span></li>
							<li><span class="icon fa-refresh"><span class="label">Feature 2</span></span></li>
							<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
							<li><span class="icon fa-spoon"><span class="label">Feature 4</span></span></li>
							<li><span class="icon fa-tree"><span class="label">Feature 5</span></span></li>
							<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
						-->
						
						</ul>
						
					</div>				
				</div>
			</section>
					
				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="6u">
							
								<section>
									<span class="icon feature fa-check"></span>
									<header>
										<h3>Claude Aubry, Pablo Pernot, Laurent Morisseau</h3>
									</header>


<a class="image feature" href=#><img class="image feature" src=/theme/images/3amigos.jpg /></a>
				<p style=text-align:justify;>


Pionnier de Scrum en France, <strong>Claude Aubry</strong> a contribué à sa diffusion avec son blog <a href=http://www.aubryconseil.com/ target=_blank>Scrum, Agilité & rock’n’roll</a> alimenté depuis 2006, par ses formations et ses conférences.
<br/><br/>
Auteur du livre « Scrum, le guide pratique de la méthode agile la plus populaire», chez Dunod, diffusé à près de 20 000 exemplaires ; la 5e édition sort au printemps 2018.
<br/><br/>
Après une maitrise sur les Monty Python, un DEA sur le non-sens et l’absurde, l’entame d’un doctorat sur les comiques cinématographiques il parait normal que <strong>Pablo Pernot</strong> se soit lancé dans le management et la conduite du changement, c’est -finalement- une suite logique.
<br/><br/>
Vous trouverez la production de Pablo Pernot sur son blog : <a href=https://areyouagile.com>areyouagile.com</a>.
<br/><br/>
Et pour une nouvelle fois, avec un grand plaisir nous aurons un troisième animateur : <strong>Laurent Morisseau</strong>. LA référence Kanban en France qui viendra enrichir tous les débats. En savoir plus sur Laurent : <a href=http://www.morisseauconsulting.com/>Morisseau Consulting</a>. 



				</p>
								</section>
							
							</div>
							<div class="6u">
							
								<section>
									<span class="icon feature fa-check"></span>
									<header>
									<h3>ALLER PLUS LOIN</h3>	
									</header>

<p  style=text-align:justify;>
Suite au raid agile nous pouvons intervenir en assurant la poursuite de vos réflexions et de vos actions au sein de vos équipes. Nous pouvons vous accompagner au sein de vos départements pour mettre en avant les apprentissages du raid. 
<br/><br/>
Le raid agile donne des clefs pour une entreprise agile. Les participants seront beaucoup plus efficaces dans le rôle (Product Owner, Manager, Partie prenante, Expert, ScrumMaster, développeur ou agent du changement) qu’ils jouent dans l’organisation. 
<br/><br/>
Les participants auront acquis de nouvelles compétences et sauront faire partager de nouveaux outils. En connaissant les implications culturelles, les participants sauront mieux gérer les dépendances avec leur environnement professionnel.
<br/><br/>
Cependant si vous souhaitez un appui au déploiement de cette nouvelle culture et de ces nouveaux outils, nous pouvons intervenir, très ponctuellement, ou sur la durée. 
</p>

								</section>
							
							</div>
						</div>
					</section>
					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2>Notre proposition de <strong>valeur</strong></h2>
						</header>
						
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/v1.jpg" alt="" /></a>
									<header>
										<h3>Un paysage inspirant</h3>
									</header>
									<p>
									On n’a pas le Grand Canyon mais les Cévennes ont une histoire plus riche, dans un décor à échelle humaine..
									</p>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid1/image5.jpg" alt="" /></a>
									<header>
										<h3>Des ateliers</h3>
									</header>
									<p>
									Pablo et Claude ont sélectionné le meilleur des ateliers et des outils  sur lesquels ils s’appuient tous les jours .
									</p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image9.jpg" alt="" /></a>
									<header>
										<h3>Team Building</h3>
									</header>
									<p>Balades et repas en commun. Tout pour se retrouver et se ressourcer, se découvrir et s’aligner sur des valeurs essentielles. Avoir des conversations hors du temps.</p>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image3.jpg" alt="" /></a>
									<header>
										<h3><em>Beyond Agile</em></h3>
									</header>
									<p>
									Une formation pour vous projeter dans les nouvelles formes d’organisation du travail, bien au-delà de Scrum.

									</p>
								</section>

							</div>
						</div>

						<footer class="major">
						</footer>
					




					</section>


				<!-- four -->
<!--
<section class="wrapper style1 container special">
					
						<header class="major">
<h2>
<strong>Impact</strong> du Raid Agile pour les participants
</h2>
</header>
						
<div class="row">
	<div class="4u">
							
	<section>
		<header>
			<h3 class="fa fa-check-circle"> Culture</h3>
		</header>
		<p>
Acquisition d’une culture « véritablement » agile du développement de produits et services, au niveau d’une équipe et d’une organisation.</p>


	<p><strong>Impact : en connaissant les implications culturelles, les participants sauront mieux gérer les dépendances avec leur environnement professionnel.</strong>.
		</p>
	</section>

</div>
<div class="4u">

	<section>
		<header>
			<h3 class="fa fa-check-circle"> Maturité</h3>
		</header>
<p>
Discussions avec des pairs venant de différents contextes, dans un cadre différent, avec du temps et de la sérénité, facilitées par Clodio et Pablo qui vous feront profiter de leur expérience sans vous endoctriner. 
</p>
<p><strong>Impact :  les participants seront beaucoup plus efficaces dans le rôle (Product Owner, Manager, Partie prenante, Expert, ScrumMaster, développeur ou agent du changement) qu’ils jouent dans l’organisation.</strong>.
</p>
	</section>

</div>
					
	<div class="4u">
	
		<section>
			
			<header>
				<h3 class="fa fa-check-circle"> Apprentissage</h3>
			</header>
			<p>Apprentissage des dernières techniques (impact mapping, story mapping, feature kanban, innovation games, story dojo, management3.0, sociocratie) en les pratiquant en groupes.</p>
<p><strong>Impact :  les participants auront acquis de nouvelles compétences et sauront faire partager de nouveaux outils.</strong>.</p>
		</section>

	
</div>

						<footer class="major">
						</footer>
					
					</section>

-->
					
			</article>

		<!-- CTA -->
		
			<section id="cta">
				
					<header>
						<p><h2>Êtes-vous Prêt à vous <strong>immerger</strong> ?</h2></p>
						<p>Faites le nous savoir ! Jetez aussi un oeil sur les <a href=/temoignages.html>témoignages</a> des participants.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="https://docs.google.com/forms/d/1Kgfsezh66WZDIJ6bJPXcqTDhEhYrvKLrw_nRZIAiyOo/viewform?fbzx=4085798845006332405" class="button special">Contact</a></li>
						</ul>
					</footer>
				
			
			</section>
		

{% endblock %}
