{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}
{% if article %}

		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>{{ article.maintitle }}</h2>
					</header>
					<p>
						{{ article.subtitle }}
					</p>
				</div>
				
			</section>

		
		<!-- Main -->
			<article id="main">


					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2>{{ article.maintitle}}<br/>{{ article.moment }}</h2>
						</header>



<div class="row">

	<div class="6u">
	<section>
	<a href="#" class="image feature"><img src="/theme/images/raid7/raid7-1.jpg" alt="raid agile #7" /></a>
	<header>
	<h3>Session sur la terrasse</h3>
	</header>
	</section>
	</div>

	<div class="6u">
	<section>
	<a href="#" class="image feature"><img src="/theme/images/raid7/raid7-2.jpg" alt="raid agile #7" /></a>
	<header>
	<h3>Est-ce que vous groovez ? (agile fluency)</h3>
	</header>
	</section>
	</div>
</div>

<div class="row">

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-3.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>A nous le Mont Brion</h3>
        </header>
        </section>
        </div>

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-4.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Retour au mas vivants</h3>
        </header>
        </section>
        </div>
</div>

<div class="row">

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-5.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Hein ???</h3>
        </header>
        </section>
        </div>

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-11.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Le duo Ratatouille (Christophe & Isabella)</h3>
        </header>
        </section>
        </div>
</div>

<div class="row">

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-7.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Session studieuse</h3>
        </header>
        </section>
        </div>

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-12.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Session tombale</h3>
        </header>
        </section>
        </div>
</div>

<div class="row">

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-8.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Session plus en vrac</h3>
        </header>
        </section>
        </div>

        <div class="6u">
        <section>
        <a href="#" class="image feature"><img src="/theme/images/raid7/raid7-10.jpg" alt="raid agile #7" /></a>
        <header>
        <h3>Plus haut...?? </h3>
        </header>
        </section>
        </div>
</div>




					</section>



<section id="cta">
<header>
			<h2>Vous voulez en <strong>savoir plus </strong>?</h2>
			<p>Contactez nous</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile" class="button special">Contact</a></li>
			</ul>
		</footer>
</section>
<br/><br/>
			<section class="wrapper style2 container special-alt">
				<div class="row half">
					<div class="8u">
			
						<header>
						<h2>OÙ, QUAND, COMMENT ?</h2> 
						</header>
					<p><h3>OÙ</h3>Dans les Cévennes, au <a href=http://www.grand-gite-gard-cevennes-sud.com/nos-g%C3%AEtes/le-grand-g%C3%AEte-description-d%C3%A9taill%C3%A9e-et-disponibilit%C3%A9/>Mas du canton</a>. Chambres à deux ou individuelles avec douche.</p>

					<p><h3>COMMENT</h3>Le Raid Agile, c’est entre 12 et 18 personnes qui se retrouvent dans un gite des Cévennes pour une formation agile originale. Pendant trois jours et trois nuits, ils partagent leurs expériences, jouent ensemble, goûtent à des outils d’intelligence collective, randonnent dans la nature, mangent et boivent des spécialités locales et s’ouvrent l’esprit aux nouvelles pratiques du management, de l'agilité organisationnelle et de la gestion de produit. Ils sont accompagnés par deux praticiens chevronnés (Claude Aubry & Pablo Pernot).</p>
					
					</div>
					<div class="4u skel-cell-important">
					
						<ul class="feature-icons">
							<li><span class="icon fa-share-alt"><span class="label">Feature 1</span></span></li>
							<li><span class="icon fa-refresh"><span class="label">Feature 2</span></span></li>
							<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
							<li><span class="icon fa-spoon"><span class="label">Feature 4</span></span></li>
							<li><span class="icon fa-tree"><span class="label">Feature 5</span></span></li>
							<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
						</ul>
					
					</div>				
				</div>


			</section>



			<section class="wrapper style1 container special-alt">
				<div class="row half">
					<div class="12u">
						<h2 id=inscription>Nous joindre, s'inscrire :</h2>
<a class="fa fa-envelope"><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile"> &Eacutecrivez directement à Claude, Pablo et Laurent</a></a><br/>
tout public, débutant ou non en agile. 
</p>

					</div>
				</div>
			</section>

{% endif %}
{% endblock %}			

