{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}
{% if article %}
		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>{{ article.title }}</h2>
					</header>
					<p>{{ article.subtitle }}</p>
				</div>
				
			</section>

		
		<!-- Main -->
			<article id="main">


					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2>RAID AGILE #3<br/>Juin/Juillet 2015</h2>
						</header>
						
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-1.jpg" alt="" /></a>
									<header>
										<h3>Constellation pour mieux se connaître</h3>
									</header>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-2.jpg" alt="" /></a>
									<header>
										<h3>On coupe là pour le Minimum Viable</h3>
									</header>
					
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-3.jpg" alt="" /></a>
									<header>
										<h3>Au Raid c'est #noGuru</h3>
									</header>
									
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-4.jpg" alt="" /></a>
									<header>
										<h3>Daily Scrum à la piscine</h3>
									</header>
								</section>

							</div>

						</div>	

			<div class="row">
						<div class="6u">

							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-5.jpg" alt="" /></a>
									<header>
										<h3>Notes collantes sur bord de piscine</h3>
									</header>
								</section>

							</div>

						<div class="6u">
										
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-6.jpg" alt="" /></a>
									<header>
										<h3>Les garçons devant les filles derrière</h3>
									</header>
									
								</section>

							</div>
							

					

					</div>
<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-7.jpg" alt="" /></a>
				<header>
					<h3>Impact Mapping</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-8.jpg" alt="" /></a>
				<header>
					<h3>Story Mapping</h3>
				</header>
				
			</section>

		</div>
</div>


<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-9.jpg" alt="" /></a>
				<header>
					<h3>Un invité prestigieux</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid3/raid3-10.jpg" alt="" /></a>
				<header>
					<h3>Tu la tires ou tu la pointes ?</h3>
				</header>
				
			</section>

		</div>
</div>


			</section>

<section id="cta">
<header>
			<h2>Vous voulez en <strong>savoir plus </strong>?</h2>
			<p>Contactez nous</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile" class="button special">Contact</a></li>
			</ul>
		</footer>
</section>
<br/><br/>


					{{ article.content }}


{% endif %}
{% endblock %}			

