{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}


	{% if article %}

		<!-- Banner -->		
			<section id="banner">
				<div class="inner">
					<header>
						<h2>{{ article.maintitle }}</h2>
					</header>
					<p>{{ article.subtitle }}</p> 
				</div>
				
			</section>

		
		<!-- Main -->
			<article id="main">
				{{ article.content }}
			</article>
	{% endif %}

{% endblock %}			

