{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}
{% if article %}
		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>{{ article.maintitle }}</h2>
					</header>
					<p>{{ article.subtitle }}</p>
				</div>
				
			</section>

		
		<!-- Main -->
			<article id="main">


					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2>RAID AGILE #2<br/>Mars 2015</h2>
						</header>
						
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image9.jpg" alt="" /></a>
									<header>
										<h3>Des balades/randonnées</h3>
									</header>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image3.jpg" alt="" /></a>
									<header>
										<h3>Prendre des décisions</h3>
									</header>
					
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image4.jpg" alt="" /></a>
									<header>
										<h3>Des jeux et du vin</h3>
									</header>
									
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image5.jpg" alt="" /></a>
									<header>
										<h3>Par là...</h3>
									</header>
								</section>

							</div>

						</div>	

			<div class="row">
						<div class="6u">

							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image6.jpg" alt="" /></a>
									<header>
										<h3>Quiz sur le Mont Brion</h3>
									</header>
								</section>

							</div>

						<div class="6u">
										
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid2/image7.jpg" alt="" /></a>
									<header>
										<h3>Ca bosse dur</h3>
									</header>
									
								</section>

							</div>
							

					

					</div>
<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid2/image10.jpg" alt="" /></a>
				<header>
					<h3>Petits déjeuners au soleil (non garanti)</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid2/image1.jpg" alt="" /></a>
				<header>
					<h3>La quête du sens</h3>
				</header>
				
			</section>

		</div>
</div>


<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid2/image2.jpg" alt="" /></a>
				<header>
					<h3>Un groupe studieux</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid2/image8.jpg" alt="" /></a>
				<header>
					<h3>Des ateliers agiles</h3>
				</header>
				
			</section>

		</div>
</div>


			</section>

<section id="cta">
<header>
			<h2>Vous voulez en <strong>savoir plus </strong>?</h2>
			<p>Contactez nous</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile" class="button special">Contact</a></li>
			</ul>
		</footer>
</section>
<br/><br/>


					{{ article.content }}


{% endif %}
{% endblock %}			

