{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}



    <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          C'est la page 404 !
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        Sous les Cévennes y'a la grotte de Trabuc !
        <img class="img" src="/images/trabuc.jpg" />
      </div>
    </article>
  </div>
{{ end }}
